<a href="https://colab.research.google.com/github/lkostenko/python_da_homeworks/blob/main/Additional_hw_2_Data_structures%2C_loops_and_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Створіть множину (set) з наведеного спиcку та виведіть результат на екран. Чим відрізняється множина від списку?

In [ ]:
input_list =  ['boat', 'bus', 'plane', 'train', 'boat', 'autobus', 'bus']

In [ ]:
set(input_list)

{'autobus', 'boat', 'bus', 'plane', 'train'}

Множина містить невпорядковані унікальні елементи. Список - це спорядкований набір будь-яких елементів.

2.Виведіть окремо ключі та окремо значення двома окремими списками наступного словника:

In [ ]:
light_signals = {'green': 'go', 'yellow': 'get ready', 'red': 'stop'}

In [ ]:
key_list = []
value_list = []
for key, value in light_signals.items():
  key_list.append(key)
  value_list.append(value)
print("Ключі:", key_list)
print("Значення:", value_list)

Ключі: ['green', 'yellow', 'red']
Значення: ['go', 'get ready', 'stop']

3.Напишіть фрагмент коду, що формує список всіх чисел між 1200 і 2700 (обидва включаючи), які деляться на 7 АБО на 5 без остачі. Виведіть результуючий список на екран.

In [ ]:
result = []
for i in range(1200, 2701):
  if i % 5 == 0 or i % 7 == 0:
    result.append(i)
print(result)

[1200, 1204, 1205, 1210, 1211, 1215, 1218, 1220, 1225, 1230, 1232, 1235, 1239, 1240, 1245, 1246, 1250, 1253, 1255, 1260, 1265, 1267, 1270, 1274, 1275, 1280, 1281, 1285, 1288, 1290, 1295, 1300, 1302, 1305, 1309, 1310, 1315, 1316, 1320, 1323, 1325, 1330, 1335, 1337, 1340, 1344, 1345, 1350, 1351, 1355, 1358, 1360, 1365, 1370, 1372, 1375, 1379, 1380, 1385, 1386, 1390, 1393, 1395, 1400, 1405, 1407, 1410, 1414, 1415, 1420, 1421, 1425, 1428, 1430, 1435, 1440, 1442, 1445, 1449, 1450, 1455, 1456, 1460, 1463, 1465, 1470, 1475, 1477, 1480, 1484, 1485, 1490, 1491, 1495, 1498, 1500, 1505, 1510, 1512, 1515, 1519, 1520, 1525, 1526, 1530, 1533, 1535, 1540, 1545, 1547, 1550, 1554, 1555, 1560, 1561, 1565, 1568, 1570, 1575, 1580, 1582, 1585, 1589, 1590, 1595, 1596, 1600, 1603, 1605, 1610, 1615, 1617, 1620, 1624, 1625, 1630, 1631, 1635, 1638, 1640, 1645, 1650, 1652, 1655, 1659, 1660, 1665, 1666, 1670, 1673, 1675, 1680, 1685, 1687, 1690, 1694, 1695, 1700, 1701, 1705, 1708, 1710, 1715, 1720, 1722, 1725, 1729, 1730, 1735, 1736, 1740, 1743, 1745, 1750, 1755, 1757, 1760, 1764, 1765, 1770, 1771, 1775, 1778, 1780, 1785, 1790, 1792, 1795, 1799, 1800, 1805, 1806, 1810, 1813, 1815, 1820, 1825, 1827, 1830, 1834, 1835, 1840, 1841, 1845, 1848, 1850, 1855, 1860, 1862, 1865, 1869, 1870, 1875, 1876, 1880, 1883, 1885, 1890, 1895, 1897, 1900, 1904, 1905, 1910, 1911, 1915, 1918, 1920, 1925, 1930, 1932, 1935, 1939, 1940, 1945, 1946, 1950, 1953, 1955, 1960, 1965, 1967, 1970, 1974, 1975, 1980, 1981, 1985, 1988, 1990, 1995, 2000, 2002, 2005, 2009, 2010, 2015, 2016, 2020, 2023, 2025, 2030, 2035, 2037, 2040, 2044, 2045, 2050, 2051, 2055, 2058, 2060, 2065, 2070, 2072, 2075, 2079, 2080, 2085, 2086, 2090, 2093, 2095, 2100, 2105, 2107, 2110, 2114, 2115, 2120, 2121, 2125, 2128, 2130, 2135, 2140, 2142, 2145, 2149, 2150, 2155, 2156, 2160, 2163, 2165, 2170, 2175, 2177, 2180, 2184, 2185, 2190, 2191, 2195, 2198, 2200, 2205, 2210, 2212, 2215, 2219, 2220, 2225, 2226, 2230, 2233, 2235, 2240, 2245, 2247, 2250, 2254, 2255, 2260, 2261, 2265, 2268, 2270, 2275, 2280, 2282, 2285, 2289, 2290, 2295, 2296, 2300, 2303, 2305, 2310, 2315, 2317, 2320, 2324, 2325, 2330, 2331, 2335, 2338, 2340, 2345, 2350, 2352, 2355, 2359, 2360, 2365, 2366, 2370, 2373, 2375, 2380, 2385, 2387, 2390, 2394, 2395, 2400, 2401, 2405, 2408, 2410, 2415, 2420, 2422, 2425, 2429, 2430, 2435, 2436, 2440, 2443, 2445, 2450, 2455, 2457, 2460, 2464, 2465, 2470, 2471, 2475, 2478, 2480, 2485, 2490, 2492, 2495, 2499, 2500, 2505, 2506, 2510, 2513, 2515, 2520, 2525, 2527, 2530, 2534, 2535, 2540, 2541, 2545, 2548, 2550, 2555, 2560, 2562, 2565, 2569, 2570, 2575, 2576, 2580, 2583, 2585, 2590, 2595, 2597, 2600, 2604, 2605, 2610, 2611, 2615, 2618, 2620, 2625, 2630, 2632, 2635, 2639, 2640, 2645, 2646, 2650, 2653, 2655, 2660, 2665, 2667, 2670, 2674, 2675, 2680, 2681, 2685, 2688, 2690, 2695, 2700]

4.Напишіть функцію, яка для заданого цілого числа виводить на екран наступну фігуру. Підказка - тут треба використати вкладені цикли for. Наприклад, для `n=5` фігура матиме наступний вигляд:

```
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

Запустіть фукнцію для значень n: 3, 5, 10.

In [ ]:
n = 3

for a in range(1, n + 1):
  for b in range(a):
     print("*", end=" ")
  print()

for a in range(n - 1, 0, -1):
  for b in range(a):
    print("*", end=" ")
  print()

*
* *
* * *
* *
*

In [ ]:
def figure(n):
  for a in range(1, n + 1):
    for b in range(a):
     print("*", end=" ")
    print()

  for a in range(n - 1, 0, -1):
    for b in range(a):
      print("*", end=" ")
    print()

In [ ]:
n_list = (3, 5, 10)
for i in n_list:
  print(figure(i))

*
* *
* * *
* *
*
None
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
None
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*
None

5.Напишіть функцію, яка вертає кількість парних та непарних чисел у наданому масиві. Функція має вертати два числа, а після функції створіть повідомлення, яке прописує, скільки було парних та непарних чисел у масиві.
Приклад: для наступного входу
```
numbers = (1, 2, 11, 12, 13, 22, 27, 29)
```
Функція має повернути результат: `3, 5`.
І далі Вам необхідно сформувати повідомлення, яке виведе наступне, використовуючи результат функції:
```
Кількість парних чисел : 3
Кількість непарних : 5
```
Запустіть алгоритм функція+друк повідомлення для трьох наведених списків. Найзручніше це зробити, пройшовши по спискам у циклі.

In [ ]:
numbers_1 = {1, 2, 11, 12, 13, 22, 27, 29}
numbers_2 = {1, 22, 412, 312, 73, 3421}
numbers_3 = {12, 11, 94, 722, 0, 452}

In [ ]:
def even_odd_num(numbers):
  even_num = 0
  odd_num = 0
  for num in numbers:
    if num % 2 == 0:
      even_num += 1
    else:
      odd_num += 1
  print(f"Кількість парних чисел : {even_num} \nКількість непарних : {odd_num} ")
  return even_num, odd_num

In [ ]:
numbers = (1, 2, 11, 12, 13, 22, 27, 29)
even_odd_num(numbers)

Кількість парних чисел : 3
Кількість непарних : 5

(3, 5)

In [ ]:
numbers_list = [numbers_1, numbers_2, numbers_3]
for i in numbers_list:
  even_odd_num(i)

Кількість парних чисел : 3
Кількість непарних : 5
Кількість парних чисел : 3
Кількість непарних : 3
Кількість парних чисел : 5
Кількість непарних : 1

6.Напишіть функцію, яка приймає на вхід список з назвами чогось та формує і виводить на екран повідомлення, у якому є всі елементи списку, а перед останнім елементом вставлено слово `and` (приклад - далі). Функція має працювати з будь-якими списками, довжина яких є більшою або рівною 2. Наприклад, для списку
```
cities = ['Budapest', 'Rome', 'Istanbul', 'Sydney', 'Kyiv']
```
функція має виводити на екран фразу:
```
'Budapest, Rome, Istanbul, Sydney and Kyiv'
```
Запустіть функцію на списках наведених нижче. Для останнього списку має виводитись помилка (exception) або повідомлення про те, що довжина списку має бути як мінімум 2.

In [14]:
list1 = ['Budapest', 'Rome', 'Istanbul', 'Sydney', 'Kyiv']
list2 = ['USA', 'UK', 'Ukraine']
list3 = ['apples', 'oranges']
list4 = ['Titan']

In [23]:
def names(list_name):
  last_name = list_name[-1]
  without_last_name = list_name[:-1]
  if len(list_name) >= 2:
    result = ', '.join(without_last_name) + " and " + last_name
    print(result)
  else:
    print("Довжина списку має бути як мінімум 2")

In [24]:
lists = [list1, list2, list3, list4]
for list_num in lists:
  names(list_num)

Budapest, Rome, Istanbul, Sydney and Kyiv
USA, UK and Ukraine
apples and oranges
Довжина списку має бути як мінімум 2

7.Уявіть, що Ви створюєте пригодницьку гру і використовуєте для зберігання предметів гравця словник, у якому ключі - це назви предметів, значення - кількість одиниць кожної із речей. Наприклад, словник може виглядати так: things = {'ключ': 3, 'булава': 1, 'монета': 24, 'ніж': 1, 'горішки': 10, 'бронежелет': 0}. Створіть фукнцію, яка виводить повідомлення про усі речі гравця у такому вигляді:

```
У гравця є:
3 ключ
1 булава
24 монета
1 ніж
10 горішки
0 бронежелет
Загальна кількість речей: 39
```

Викличіть фукнцію для наступних гравців:

In [49]:
player_1 = {'ключ': 3, 'булава': 1, 'монета': 24, 'ніж': 1, 'горішки': 10, 'бронежелет': 0}
player_2 = {'ключ': 0, 'булава': 2, 'монета': 4, 'ніж': 3, 'горішки': 4, 'бронежелет': 1}
player_3 = {'ключ': 0, 'булава': 0, 'монета': 30, 'ніж': 0, 'горішки': 2, 'бронежелет': 2}

In [45]:
def game(things):
  total_values = sum(things.values())
  print("У гравця є:")
  for key, value in things.items():
    print(value, key)
  print("Загальна кількість речей:", total_values)

In [47]:
things = {'ключ': 3, 'булава': 1, 'монета': 24, 'ніж': 1, 'горішки': 10, 'бронежелет': 0}
game(things)

У гравця є:
3 ключ
1 булава
24 монета
1 ніж
10 горішки
0 бронежелет
Загальна кількість речей: 39

In [50]:
players = [player_1, player_2, player_3]
for player in players:
  game(player)

У гравця є:
3 ключ
1 булава
24 монета
1 ніж
10 горішки
0 бронежелет
Загальна кількість речей: 39
У гравця є:
0 ключ
2 булава
4 монета
3 ніж
4 горішки
1 бронежелет
Загальна кількість речей: 14
У гравця є:
0 ключ
0 булава
30 монета
0 ніж
2 горішки
2 бронежелет
Загальна кількість речей: 34